/*body style*/
body {
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#fff !important;
  background-image: url("../img/bg.jpg");
}

/*containers style*/
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

/*start header stylings */
/*header ul style*/
#navlist {
  margin:0;
  padding:0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: green;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  font-style: italic;
  font-family: cursive;
  float: left;
  font-weight: bold;
}

header nav {
  float: left;

}

header nav #spnLogin, #spnSignup {
  color: #fff;
  font-size:  18px;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li{
  list-style: none;
}

header nav ul li a{
  height: 50px;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover, header nav ul li a.active 
{
  color: #fff;
  background: #80FF80;
}

.toggle-menu {
  color: green;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 10px;
  }
  .toggle-menu {
    display: block;
    line-height: 30px;
  }
  header nav {
     display: none;
     position: absolute;
     width: 100%;
     height: (100vh-50px);
     background: #333;
     top: 50px;
     left: 0;
     transition: 0.5s;
  }
  header .logo {
    height: 30px;
    line-height: 30px;
    font-size: 40px;
    float: left;
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
}
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul a {
    border-bottom: 1px solid rgba(0,0,0,.2);
    height: 50px;
    line-height: 30px;
    padding: 0 10px;
  }
}
/*end header stylings*/


/*start body container stylings*/
.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ccffbb;
}

/*politician links*/
#politicianWelcome a {
  color: #414a4c;
  font-style:italic;
  font-size: 25px;
  font-weight: bold;
  text-decoration-line: none !important;

  animation: blinker 1s linear infinite;
}
#welcome h1 {
  /* animation: blinker 1s linear infinite; */
}

/* @keyframes blinker {
  50% {
    opacity: 0;
  }
} */

#politicianWelcome a:hover{
  color: #000;
}

/*button login at home*/
.login_button {
  color: #ccffbb !important;
  background: green;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  text-decoration:  none;
}

.login_button:hover {
  background: #3a5f0b;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

/* welcome text */
#welcome {
  min-height:80vh;
  height: 80vh;
  /* background-color: #fff; */
  text-align:center;
  color: #414a4c;
  margin-top: 10%;

}

#welcome h1{
  margin-top: 60px;
  font-size:30px;
  margin-bottom:10px;
}

#welcome p{
  font-size:20px;
}

/* quicklinks */
#quicklinks {
  color:#fff;
  background:#;
  padding-top: 0;
  padding-bottom: 3px;
  font-size: 10px;
  height: 3vh;

}

#quicklinks h1{
    text-align: center;
    text-align: center;
    height:15px;
}


/* Boxes for the quicklinks*/


#boxes {
  height: 15vh;
}
#boxes h3, #boxes a {
  color: #414a4c;
  font-size: 20px;
  text-decoration-line: none;

}

#boxes h3:hover {
  color: #000;
}

#boxes .box{
  text-align: center;
  width:30%;
  padding:5px;
  margin-top: 5%;
}

#boxes .box img{
  width:15%;
  height:25;
  border-radius: 2px;
}
#boxes .box p {
  font-size: 13px;
  margin-bottom: 10%;
}

#options {
    color:  black;
    font-size:  22px;
    text-decoration:  none;
}

#options:link {
    color:  black;
}


#options:hover {
    color: grey;
}

#options:active {
    color:  green;
}

#select-party {
  color: green;
  width: 250px;
  height: 40px;
  margin-top: 10px;
  border-radius:5px;
  border: 2px solid green;
}

#select-office {
  color: green;
  width: 250px;
  height: 40px;
  margin-top: 10px;
  border-radius:5px;
  border: 2px solid green;
} 

#select-name {
  color: green;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid green;
  font-style: bold;
} 

#whyrun {
  color: green;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 3px solid green;
  font-size: 18px;
} 
#whypetition {
  color: green;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  border: 3px solid green;
  font-size: 18px;
} 
#reasons {
  margin-left: 70px;
  width: 250px;
  color: green;
}

/*style user_profile page*/
.userprofile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

.profilename {
  color: grey;
  font-size: 18px;
}

#btnpassword {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: grey;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#btnpassword:hover, a:hover {
  opacity: 0.7;
  color: black;
}

#partieslist {
  margin-top: 70px;
  margin-bottom: 120px;
}

#votingHistory #header {
  color: #414a4c;
  padding-left: 10%;
  width: 60%;
  margin-left: 30%;
 
}

#partieslist #header {
  padding-top: 10%;
  margin-top: 30px;
  color: #414a4c;
  padding-left: 2%;
  text-align: center;
}

#partylogo {
  width: 70px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid green;
}
#politicianphoto{
  width: 150px;
  height: 100px;
  border-radius: 10px;
}


#votingHistory table, #partieslist table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 60%;
  margin-left: 20%;
 
  border: 1px solid #ddd;
}

#votingHistory th, #partieslist th{
  text-align: left;
  padding: 5px;
  font-size: 20px;
  color: #414a4c;
}

#votingHistory td, #partieslist td {
  text-align: left;
  padding: 5px;
  font-weight: bold;
  color: #000;
}


#votingHistory tr:nth-child(even){background-color: #b6b6b6}
#partieslist tr:nth-child(even){background-color: #b6b6b6}
/*end user_profile page styling*/

#viewlist {
  margin-left: 5px;
  width: 80px;
  height: 40px;
  background-color: green;
  font-weight: bolder;
  color: #fff;
  border-radius: 3px;
  border: 2px solid green;
}

#viewlist:hover {
  color: #77ab59;
}

#vote a{
  font-weight: bold;
  font-size: 25px;
  color: red;
  text-decoration-line: none;
}

#vote a:hover{
  color: #000;
}
#partieslist form {
  margin-left: 20%;
}

/*admin pages styling*/
.partyprofile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  height: 380px;
}

#admin-photo {
  width:  200px;
}

#lblchangephoto {
  color: red;
  font-size: 15px;
}

#changephoto {
  height: 20px;
  width: 200px;
  font-size: 13px;
}

#admin_edit_party {
  min-height:20px;
  text-align:center;
  color:#414a4c;
}
#admin_edit_profile {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  height: 380px;
}
#admin_edit_party h1{
  margin-top:100px;
  font-size:30px;
  margin-bottom:10px;
}

#admin_edit_party p{
  font-size:20px;
}

#edit_profile {
  margin-left: 30%;
  width: 35%;
  align-content: center;
}

.navitem {
  padding: 7px;
}

#quicklinks button, .quote button{
  display:block;
  width:100%;
}

#quicklinks form input[type="email"], .quote input, .quote textarea{
  width:100%;
  margin-bottom:5px;
}

#quickboxes {
  display: flex;
  margin-left: 10%;
}

/*end body container stylings*/




/*footer styling starts*/
footer {
  
  margin-top:60vh;
  color:#ccffbb;
  background-color:#35424a;
  text-align: center;
  height: 7vh;
  position: sticky;
   
}
#footer-signup {
  
  margin-top:80vh;
  color:#ccffbb;
  background-color:#35424a;
  text-align: center;
  height: 7vh;
  position: sticky;
   
}
#footer-express {
  
  margin-top:100vh;
  color:#ccffbb;
  background-color:#35424a;
  text-align: center;
  height: 7vh;
  position: sticky;
   
}
/* footer p {
  font-size: 12px;
  padding-top: 10px;;
} */
#footer-div a {
  font-size: 12px;
  color: #ccffbb;
  text-decoration-line: none;
} 
/* footer styling ends


/* Media Queries */
@media(max-width: 768px){
  #quicklinks h1,
  #quicklinks form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  #whyrun {
    margin-top: -40px;
  }

  #whypetition {
    margin-top: -40px;
  }
  #reasons {
    margin-left: 0;
    margin-bottom: 0px;
  }
  #welcome {
    height: 80vh;
  }
  
  #quicklinks {
    height: 5vh;
  }
  #boxes {
    height: 15vh;
  }
  #quickboxes {
    margin-left: 0;
  }

  #welcome h1{
    margin-top: 40px;
  }
  #votingHistory table, #partieslist table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-left: 0;
    border: 1px solid #ddd;
  }
  #votingHistory #header {

    margin-left: 10%;
 
  }
  #partieslist form {
    margin-left: 0%;
  }
}
